.detailBox {
  min-height: 80vh;
  font-size: 16px;
  width: 90%;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
}
.btn {
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 3px;
  margin: 0 0.7rem 1rem 0;
  font-size: 0.9rem;
}
.backBtn{
  padding: 0.8rem 2.3rem 0.8rem 2.3rem;
  font-size: 1.1rem;
}
.btn span{
    margin-right: 0.5rem;
}
.countryDetail {
  margin-top: 3.5rem;
}

.box1 img{
    width: 100%;
    aspect-ratio: 16/9;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.box2{
  margin: 1.9rem 0 1.9rem 0;
}

.box2 h3{
    font-size: 1.6rem;
}

.box2 p {
  margin: 1rem 0 1rem 0;
}
.box2 span {
  font-weight: 600;
}

.box2 h5{
    margin: 1rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: 600;
}
.box3 {
  margin: 1rem 0 3.5rem 0;
}

@media (min-width: 913px) {
  .countryDetail {
    display: flex;
    align-items: center;
    gap: 8rem;
  }
  .box1{
    width: 40vw;
  }
  .box1 img{
    aspect-ratio: 16/12;
  }
  .box2 {
    margin: 0;
  }
  .box2 h3 {
    /* margin: 1rem 0 1rem 0; */
    font-size: 2.5rem;
    font-weight: 900;
  }
  .countryNamestuff {
    /* width: 60%; */
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: aquamarine; */
    margin-right: 2rem;
    /* gap: 5rem; */
  }
}


@media (min-width : 520px) and (max-width: 912px){
  .countryDetail {
    display: block;
    /* align-items: center;
    gap: 8rem; */
    /* justify-content: space-around; */
  }

  .countryNamestuff {
    /* width: 60%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: aquamarine; */
    margin-right: 2rem;
    /* gap: 5rem; */
  }
  .box1 img{
    aspect-ratio: 16/9;
  }
}