.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 2.5rem;
    gap: 2.5rem;
}

.container .countryName{
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

.innerContainer{
    box-shadow: var(--boxShadow);
    border-radius: 6px;
    width: 290px;
    margin-top: 1.8rem;
}

span{
    color: rgb(122, 119, 119);
}

.container img{
    width: 290px;
    height: 180px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: #0000001a 0 1px 3px, #0000000f 0 1px 2px;
}


.content{
    padding: 1.4rem;
}

.dark {
    background-color:var(--Dark_Gray);
    color: #fff;
  }
  
  .light {
    background-color: #fff;
    color: #333;
  }
