.box {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  padding-inline: 3vw;
  padding-block: 3rem;
  font-size: 1.2rem;
  box-shadow: var(--boxShadow);
}

.title h1 {
  font-size: 2rem;
}

.icon{
  display: flex;
  justify-content: space-around;
  gap: 0.8rem;
}

.modeTitle{
  align-self: center;
  font-weight: 800;
  color: var(--Dark_Blue);
}

.toggle{
  display: flex;
  align-items: center;
  gap: 1rem;
  /* outline: none; */
  border: none;
  background-color: white;
  border-radius: 20px;
}

.dark {
  background-color:--Dark_Gray;
  color: #fff;
}

.light {
  background-color: #fff;
  color: --Dark_Gray;
}




