.main-container{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}
.search-container{
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--White);
    border-radius: 6px;
    box-shadow: var(--boxShadow);
    width: 30vw;
    margin: 1.5rem 0 1rem 3rem;
    border: 1px solid rgb(225, 211, 211);
}

.search-container input{
    padding: 6px;
    margin-block: 8px;
    font-size: 17px;
}

#search{
    align-self: flex-start;
    border: none;
    outline: none;
    width: 80%;
}

.dropdown{
    background-color: var(--White);
    border-radius: 6px;
    box-shadow: var(--boxShadow);
    padding: 6px;
    border: 1px solid rgb(225, 211, 211);
    margin: 1.5rem 3rem 1rem 0rem;
    color: var(--Very_Dark_Blue);
}

.dropdown select{
    display: flex;
    border: none;
    background-color: var(--White);
    margin-block: 8px;
    font-size: 17px;
}

.dark {
    background-color:var(--Very_Dark_Blue);
    color: #fff;
  }
  
  .light {
    background-color: #fff;
    color: var(--Very_Dark_Blue);
  }