*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
  }
  
  :root {
    --Dark_Blue: hsl(209, 23%, 22%);
    --Very_Dark_Blue: hsl(207, 26%, 17%);
    --Dark_Gray: hsl(0, 0%, 52%);
    --Very_Light_Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --boxShadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  .dark {
    background-color: #333;
    color: #fff;
  }
  
  .light {
    background-color: #fff;
    color: #333;
  }